.add-item {
    cursor: pointer;
}
.item-icon {
    width:20px;
    margin-left: 10px;
    cursor:pointer;
    border: 1px solid #FFF;
}
.item-icon:hover {
    border: 1px solid #868686;
}
.item-icon:active {
    border: 1px solid #718C00;
}
.container {
    margin-top:3em;
}