{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <h1>Welcome to ToDoList</h1>
        <br><br/>
        <h2>Please <a href="{{ url('app_login') }}">login</a> or <a href="{{ url('app_register') }}">register</a> to start.</h2>
{% endblock %}
