{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Your todolist</h1>

        <lu>
        {% for action in actions %}
            <li>{{ action.title }}
                <span>
                    <img actionid="{{ action.id }}" class="item-icon" src="{{ asset('images/done.png') }}"/>
                </span>
            </li>
        {% endfor %}
            <li class="add-item" id="additem"><b>Click to add new item</b></li>
        </lu>
    </div>
{% endblock %}

{% block documentreadyscripts %}
    $('#additem').click(function(){
        var iteminput = '<input id="additeminput" value=""/>';
        $('#additem').html(iteminput);
        $('#additeminput').focus();
        $('#additeminput').on('keypress', function (e) {
            if (e.which === 13){
                var uid = {{ user.id }};
                var txt = $('#additeminput').val();

                $.ajax({
                    method: "POST",
                    url: "/action/add",
                    data: { title: txt, uid: uid }
                }).done(function( msg ) {
                    window.open('{{ url('userhome') }}', "_self");
                });
            }
        });
    });

    $('.item-icon').click(function(){
        var actionid = $(this).attr('actionid');
        $.ajax({
            method: "POST",
            url: "/action/done",
            data: { actionid: actionid }
        }).done(function( msg ) {
            window.open('{{ url('userhome') }}', "_self");
        });
    });
{% endblock %}